appdirs==1.4.4
asgiref==3.2.10
astroid==2.3.3
boto3==1.14.55
botocore==1.17.55
certifi==2020.6.20
chardet==3.0.4
click==7.1.1
colorama==0.4.3
diff-match-patch==20121119
distlib==0.3.1
Django==2.1.2
django-bootstrap-form==3.4
django-crispy-forms==1.9.1
django-filter==2.3.0
django-import-export==1.0.0
django-storages==1.10
docutils==0.15.2
et-xmlfile==1.0.1
filelock==3.0.12
Flask==1.1.2
Flask-MySQL==1.5.1
Flask-MySQLdb==0.2.0
Flask-Session==0.3.1
Flask-SocketIO==4.3.0
Flask-SQLAlchemy==2.4.1
gunicorn==20.0.4
httplib2==0.18.1
idna==2.10
importlib-metadata==1.7.0
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4
Jinja2==2.11.1
jmespath==0.10.0
lazy-object-proxy==1.4.3
Markdown==3.2.2
markdown2==2.3.9
MarkupSafe==1.1.1
mccabe==0.6.1
mysqlclient==1.4.6
oauth2==1.9.0.post1
oauthlib==3.1.0
odfpy==1.3.6
openpyxl==2.5.2
Pillow==7.1.2
psycopg2==2.8.6
psycopg2-binary==2.8.5
pylint==2.4.4
PyMySQL==0.9.3
PySocks==1.7.1
python-dateutil==2.8.1
python-engineio==3.12.1
python-socketio==4.5.1
pytz==2020.1
PyYAML==3.12
requests==2.24.0
requests-oauthlib==1.3.0
s3transfer==0.3.3
six==1.14.0
SQLAlchemy==1.3.16
sqlparse==0.3.1
tablib==0.12.1
tqdm==4.51.0
tweepy==3.9.0
typed-ast==1.4.1
unicodecsv==0.14.1
urllib3==1.25.10
virtualenv==20.0.31
Werkzeug==1.0.1
whitenoise==5.2.0
wrapt==1.11.2
xlrd==1.1.0
xlwt==1.3.0
zipp==3.1.0
